.titulo__equipos{
    text-align: center;
    font-size: 38px;
    margin-top: 20px; margin-bottom: 15px;
    padding: 15px;
    background-color: skyblue;
}
.texto__equipos{
    margin-right: 35px;
    margin-left: 35px;
}
.titulo__oeste{
    margin-left: 35px;
}
#lista__oeste{
    margin-left: 40px; margin-right: 40px;
    border: ridge red;
}
.titulo__este{
    margin-left: 35px;
}
#lista__este{
    margin-left: 40px; margin-right: 40px;
    border: ridge rgb(23, 43, 104);
}