.titulo__formulario{
    
    text-align: center;
    padding: 15px;
    margin-top: 15p;
    margin-bottom: 15px;
}
.fieldset__formulario{
    text-align: center;
    margin: auto; padding: 15px;
    font-size: 15px;

    #pelota{
        color: orangered;
        font-size: 20px;
    }
}