
.imagen2{
    text-align: center;
}
.sistema__titulo{
    text-align: center;
    padding: 15px;
    
    
}
.section__sistema{
    margin: 15px;
    border: ridge rgb(27, 52, 126);
    padding: 15px;
    .titulo__formato{
        padding: 15px;
    }

}
.titulo__playoff{
    margin: 15px;
    padding: 15px;
    border: ridge rgb(23, 43, 104);
}
